* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 3rem;
}

select {
  font-size: 3rem;
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

option {
  font-size: 2rem;
}

.controls {
  margin-bottom: 2rem;
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

canvas {
  height: 60rem;
  width: 60rem;
  /* border: 0.5rem solid black; */
}

/* .canvas {
  height: 60rem;
  width: 60rem;
  border: 0.5rem solid black;
} */
